@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    background-size: cover;
    height: 768px;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    width: 1440px;
    height: 68px;
    left: 0;
    justify-content: space-between;
    padding-top: 22px;
}
nav{
    display: flex;
    gap: 32px;
    align-items: center;
}
nav a{
    font-family: Inter, sans-serif;
    color: #656464;
    font-size: 14px;
    text-decoration: none;
}
.logo{
    margin-right: 72px;
}
.header_link{
    margin-left: 380px;

}
.blog{
    margin-left: 33px;
}
.arrow{
    margin-left: 1px;
    display: flex;
}
.btn{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 14px;
    color: white;
    text-decoration: none;
    background: #2091F9;
    border: none;
    align-items: center;
}
.header_link .btn{
    width: 123px;
    height: 50px;
    font-size: 12px;
}
.text{
    border: none;
    color: white;
    margin-left: 10px;
    margin-right: 47px;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}
hr{
    width: 110px;
    height: 0;
    border: 1px solid #E5E5E5;
}
.title_block{
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #0A093D;
}
.subtitle_block{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #656464;
}
.community1 .btn:first-child{
    width: 177px;
    height: 36px;
    background: rgba(33, 123, 244, 0.1);
    border-radius: 8px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    padding: 16px 62px;
    color: #217BF4;
}
.community1{
    width: 515px;
    height: 366px;
    margin-top: 156px;
    margin-left: 240px;
}
.community1 .btn:nth-last-child(2){
    width: 162px;
    height: 62px;
    background: #217BF4;
    box-shadow: 0 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-top: 42px;
    margin-right: 18px;
    padding: 24px 0;
}
.community1 .btn:last-child{
    width: 167px;
    height: 62px;
    border-radius: 14px;
    color: #217BF4;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    padding: 24px 0;
    display: block;
    margin-top: 42px;
    border: 1px solid #217BF4;
    background: white;
}
.buttons{
    display: flex;
}
.community1 .container{
    display: block;
}
.people{
    width: 585px;
    height: 501px;
    margin-left: 719px;
}
.community1 .container{
    width: 515px;
    height: 366px;
}
.netbook{
    margin-top: 96px;
}
.netbook .container{
    width: 406px;
    height: 346px;
    margin-left: 235px;
    position: relative;
    margin-bottom: 230px;
}
.upper_title{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #217BF4;
}
.netbook .title_block{
    font-size: 36px;
    margin-top: 10px;
}
.netbook .container .subtitle_block{
    width: 460px;
    height: 84px;
    display: block;
    margin-top: 16px;
    margin-bottom: 36px;
}
.circle{
    background: #456BD9;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(33, 123, 244, 0.1);
    width: 8px;
    height: 8px;
    margin-top: 16px;
    position: relative;
}
.group{
    position: absolute;
    z-index: 9;
    top: 91%;
    left: 14%;
    padding: 101px ;
    transform: translate(-50%, -50%);
    line-height: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
.circle_text{
    position: relative;
    top: 0;
    grid-area: text;
}
.photo_netbook{
    float: right;
    position: relative;
    grid-area: img;
    margin-left: 300px;
}
.grid{
    grid-template-areas: "text img";
    display: grid;
}
.photo1{
    margin-left: 100px;
    width: 281px;
    height: 422px;
    position: absolute;
    border-radius: 15px;
    margin-top: 40px;
}
.photo2{
    position: absolute;
    width: 267px;
    height: 252px;
    margin-left: 415px;
    border-radius: 15px;
}
.photo3{
    position: absolute;
    width: 267px;
    height: 252px;
    margin-left: 415px;
    margin-top: 280px;
    border-radius: 15px;
}
.ellipse{
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    position: absolute;
    margin-top: 220px;
    margin-left: 220px;
    border-radius: 50px;
}
.star{
    position: absolute;
    margin-top: 234px;
    margin-left: 237px;
}
.cart{
    margin-top: 250px;
    width: 336px;
    height: 340px;
    background: white;
    border-radius: 14px;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(6, 56, 255, 0.03) 0%, rgba(255, 0, 0, 0.1) 100%);
    box-shadow: 0 26px 49px 0px rgba(0, 129, 255, 0.14);
    grid-area: img;
}
.rating{
    margin-left: 45px;
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.rating .upper_title{
    color: #0A093D;
    font-size: 20px;
    margin-left: 12px;
}
.members{
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.cart .subtitle_block{
    margin-left: 45px;
    display: block;
    margin-right: 18px;
    font-size: 16px;
}
.community{
    margin-top: 40px;
    margin-left: 45px;
}
.community .upper_title{
    text-decoration: none;
}
.carts{
    display: flex;
    justify-content: space-between;
}
.archiv{
    width: 381px;
    height: 322px;
    margin-top: 250px;
}
.archiv .title_block{
    font-size: 36px;
}
.archiv .subtitle_block{
    width: 365px;
    height: 84px;
    font-size: 16px;
}
.achievement .btn{
    position: absolute;
    width: 192px;
    height: 58px;
    border-radius: 14px;
    align-items: center;
    display: flex;
    margin-top: 40px;
    padding-left: 30px;
}
.archiv .btn{
    font-size: 14px;
}
.main{
    margin-top: 190px;
    width: 441px;
    height: 138px;
    margin-left: 500px;
    text-align: center;
}
.main .title_block{
    font-size: 36px;
    margin-top: 10px;
}
.main .subtitle_block{
    width: 421px;
    height: 56px;
    font-size: 16px;
}
.features{
    width: 1903px;
    height: 900px;
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
}
.average{
    width: 522px;
    height: 182px;
    background: #FFFFFF;
    border-radius: 14px;
}
.average .title_block{
    font-size: 24px;
    width: 430px;
    height: 26px;
}
.average .subtitle_block{
    font-size: 16px;
    width: 450px;
    height: 52px;
    display: block;
}
.icon{
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
.average_column{
    column-count: 2;
    column-gap: 30px;
    margin-left: 176px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-right: 176px;
    margin-top: 64px;
}
.our_buttons .btns{
    color: #2F2C4A;
    padding: 10px 24px;
    float: left;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 58px;
    margin-top: 20px;
}
.our_buttons{
    width: 474px;
    height: 72px;
    background-color: rgba(33, 123, 244, 0.1);
    border-radius: 14px;
    margin-left: 485px;
    margin-top: 40px;
}
.our_buttons .btns:last-child{
    width: 160px;
    height: 56px;
    background: #217BF4;
    border-radius: 14px;
    margin: 8px;
    align-items: center;
    padding-top: 20px;
    color: #FFFFFF;
}
.our_people{
    position: absolute;
    margin-top: 30px;
    margin-left: 15px;
}
.stroke{
    z-index: 19;
    margin-top: 15px;
    padding-right: 55px;
    display: block;
    position: absolute;
}
.our_cart{
    width: 270px;
    height: 360px;
    border-radius: 14px;
    background: #FFFFFF;
    box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
}
.our_cart .title_block{
    font-size: 24px;
    text-align: center;
    padding-top: 230px;
    display: block;
    font-weight: 600;
}
.our_cart .subtitle_block{
    text-align: center;
    display: block;
}
.our_photo{
    margin-left: 52px;
}
.our_carts{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}